.form-put{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px; 
    margin-right: 400px;
}

.imgfnd{
    background-image: url(https://i.ibb.co/JqMYJTS/20201204-180157.jpg);
    background-size: 140%;
    background-repeat: no-repeat ;
}